<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Channels', channels_path %></li>
    <li><%= link_to raw(@channel.name), @channel %></li>
    <li class="active">Edit</li>
  </ol>

  <h3>Editing channel</h3>

  <%= render 'form' %>
</div>
