<div class="container">
  <div class="pull-left">
    <h4>Channels</h4>
  </div>
  <div class="pull-right">
    <%= link_to content_tag("span", "", class: "glyphicon glyphicon-plus") + " New Channel", new_channel_path, class: "btn btn-success btn-sm" %>
  </div>
  <div class="clearfix"></div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @channels.each do |channel| %>
          <tr>
            <%= render channel %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
