<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Channels', channels_path %></li>
    <li class="active">New Channel</li>
  </ol>

  <h2>New Channel</h2>

  <%= render 'form' %>
</div>
