<td><%= link_to subscription.channel.id, subscription %></td>
<td><%= link_to subscription.channel.name, subscription %></td>
<td><%= link_to subscription.channel.description || "- - -", subscription %></td>
<td><%= raw subscription.subscription_date %></td>
