<div class="container">
  <div class="pull-left">
    <h4>Subscriptions</h4>
  </div>
  <div class="pull-right">
    <%= link_to content_tag("span", "", class: "glyphicon glyphicon-plus") + " New Subscription", new_subscription_path, class: "btn btn-success btn-sm" %>
  </div>
  <div class="clearfix"></div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Channel</th>
          <th>Name</th>
          <th>Description</th>
          <th>Subscription Date</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <%= render subscription %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
