<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to 'Subscriptions', subscriptions_path %></li>
    <li class="active">New Subscription</li>
  </ol>

  <h2>New Subscription</h2>

  <%= render 'form' %>
</div>
