<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%
       alert_type = name.to_s
       if not [:success, :info, :warning, :danger].include?(alert_type)
         alert_type = alert_type == 'notice' ? 'success' : 'danger'
       end
    %>
    <div class="alert alert-<%= alert_type %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
