<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li class="<%= 'active' if params[:controller] == 'channels' %>"><%= link_to 'Channels', channels_path %></li>
<% else %>
<% end %>
